
* {
  padding: 0;
  margin: 0;
}

body{
    background-color:rgb(245, 245, 245);

}

.color-tab{
  color:white;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  mix-blend-mode: multiply;
  z-index: -1;
}


.aboutme-border{
  border: 0.3px solid white;
}

.nav-link{
  letter-spacing: 1.5px;
}


.card:hover{
  -webkit-box-shadow: 0px 0px 27px 6px rgba(230,230,230,1);
  -moz-box-shadow: 0px 0px 27px 6px rgba(230,230,230,1);
  box-shadow: 0px 0px 27px 6px rgba(230,230,230,1);

}

/** FOR CSS GRID LAYOUT
#header{
  grid-area: header;
}

#contents{
  grid-area: contents;
}

#footer{
  grid-area: footer;
}




.main-row{
 height:100vh;
  display:grid;
  grid-template-rows: 50px 1fr 1fr;
  grid-template-columns: 5fr minmax(100px, 1fr) 100px;

  grid-template-areas:

  "header"
  "contents"
  "footer";

}

FOR CSS GRID LAYOUT **/

.main-contents{
  margin-top:80px;
}

.bi-bootstrap{
  color: purple;
}

.bi-filetype-css{
  color:#33cc33;
}

.bi-filetype-js{

  color:#ff8c1a;
}

.bi-filetype-html{
  color:#ff4d4d;
}

#navbarNav{
  margin-top:10px;
}

.navbar-brand{
font-size: 18px;
font-weight: bold;
}


.nav-link:hover{
  background-color: rgb(212, 212, 212);
}


/** HOME
#pills-home{
  display:flex;
  flex-direction: column;

}

#pills-home h6{
  color:white;
align-self: flex-end;
}

#pills-home h1{
color:white;
align-self: center;
}
**/

.profile-pic{
  margin-top:75px;
}

/** PORTFOLIO **/
#pills-project{


}


/** different tabs; home, project, about, cv */

.credit-text{
  margin-top: 120px;

}

#cv a{
  color:#ffffff;
  text-decoration: none;
}


#cv a:hover{
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  color:#c94fab;
}

#cv{
  display:flex;
  justify-content: flex-start;
}

#footer {
  margin-top:2em;
}

#paragraphfooter{
  font-size: 12px;
}

.card a{
  margin: 3px;
}

.progress{
  margin:5px;
}


#about-progress{
  color:black;
}


.btn-view-download{
  margin-top:20px;
  display:flex;
  justify-content: flex-end;
}

.btn-contact{
  position:fixed;
  top:50%;
  right:0px;

}


/** for the MODAL **/

#header{
grid-area: header;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
line-height: 2;
margin: 60px;
padding:5px;



}


address{
text-align: center;;
}


#linkLists{
  display:flex;
  justify-content: center;
}

#linkLists>li{
list-style: none;
margin:0px 5px;
}

#linkLists>li>a{
text-decoration: none;
color:black;
}

#linkLists>li>a:hover{
text-decoration: none;
color:rgb(208, 4, 4);
}


.footer-icon a{
  color:black;
}

.footer-icon a:hover{
  color:rgb(208, 4, 4);
}


.modal-body{
  background-color:rgb(255, 228, 181);
}

.modal-title{
  letter-spacing: 5px;
}

.project-badge{
  color:white;
}


/** media queries for different screen sizes **/

@media (max-width:768px) {


  .credit-text{
    margin-top: 50px;

  }

 }

@media (max-width:992px) {

  .myname{
    display:none;
  }

  .main-contents{
    margin-top:10px;
  }

  .tab-content{
    display:flex;
    justify-content: center;
  }


 }



@media (min-width: 992px) {

  #navbarNav{
    position:absolute;
    margin-top:0px;
  }


  .navbar-brand{
    display: none;

  }

  .navbar{
    background-color: black;
    padding:0;

  }

  .nav{
    margin-left: 30px;
  }

  .nav{
    margin-top: 350px;
  }

  .myname{
    display:block;
  }


 }




 @media (min-width: 1200px) {

   #pills-home{
    align: center;

   }
 }




 }
